@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: #508BA5;
}

body::-webkit-scrollbar-thumb {
  background: #1A557A;
  border-radius: 7px;
}

header {
  color: #1A557A;
}
header nav {
  text-align: center;
}
header nav ul {
  font: 22px "Poppins";
  list-style: none;
  font-weight: 700;
  display: inline-flex;
  margin: 20px;
}
header nav ul li {
  padding: 10px 14px;
  margin: 10px 30px;
  transition: 0.2s color;
}
header nav ul li:hover {
  color: #ED975A;
  cursor: pointer;
}
@media (max-width: 599px) {
  header {
    color: black;
  }
  header nav {
    padding-top: 10px;
  }
  header nav ul {
    display: inline-block;
  }
  header nav ul li {
    width: 160px;
  }
}
header h1 {
  font: 58px "Poppins";
  font-weight: 700;
  padding: 30px 0 0px 0;
  text-align: center;
}
header h2 {
  font: 34px "Poppins";
  margin-bottom: 45px;
  text-align: center;
}

#button {
  position: absolute;
  font: 21px "Poppins";
  letter-spacing: 1px;
  color: #F8F8F8;
  font-weight: 700;
  background-color: #4B9AB1;
  box-shadow: 4px 4px #1A557A;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  text-align: center;
  margin-top: 20px;
  padding: 16px 28px;
  transition: 0.3s background, 0.3s transform, 0.3s box-shadow;
}

#button:hover {
  background-color: #ED975A;
  box-shadow: 4px 4px #9E653C;
  cursor: pointer;
}

#wrapper #colored-bg {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #508BA5;
}
#wrapper #background {
  position: absolute;
  z-index: -1;
}
#wrapper #background #scroll-bg, #wrapper #background #continue {
  width: 100vw;
  position: absolute;
}
#wrapper #background #scroll-bg {
  background: url("../assets/campsite.png") no-repeat center center/cover;
  height: 100vh;
  animation: easeIn 1.4s;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}
@keyframes easeIn {
  from {
    background-position: center center;
  }
  to {
    background-position: center bottom;
  }
}
#wrapper #background #continue {
  background: url("../assets/connector.png") no-repeat center top/cover;
  margin-top: calc(100vh - 1px);
  height: 16.7vh;
}

#wrapper {
  position: absolute;
}
#wrapper #countries-intro {
  font: 24px "Poppins";
  text-align: center;
  margin: 100px 0 120px 0;
  background-color: #4B9AB1;
  padding: 40px 20px;
  box-shadow: 0px 0px 30px black, inset 0 0 60px #1A557A;
}
#wrapper #country-names ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 1140px;
  width: 100%;
  margin: 30px auto 50px auto;
}
#wrapper #country-names ul li {
  padding: 10px 14px;
  margin: 10px 10px;
  background-color: #4B9AB1;
  border: 2px solid #1A557A;
  text-shadow: 3px 2px #1A557A;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 0px 7px #191919, inset 0 0 14px #1A557A;
  transition: 0.15s background, 0.6s border-radius, 0.5s box-shadow, 0.6s filter;
}
#wrapper #country-names ul li p {
  font: 22px "Poppins";
  color: #F8F8F8;
  font-weight: 700;
}
#wrapper #country-names ul li:hover {
  background-color: #4B9AB1;
  cursor: pointer;
  border-radius: 40px;
  filter: brightness(1.15);
  box-shadow: 0px 0px 20px black, inset 5px 5px 16px #B2C2C4;
}

#wrapper {
  padding-bottom: 10px;
  position: absolute;
}
#wrapper #country-info {
  background-color: #4B9AB1;
  font-family: "Poppins";
  margin: 80px 120px;
  padding: 20px 35px;
  border-radius: 15px;
  border: 3px black solid;
  box-shadow: inset 0 0 20px #1A557A;
}
#wrapper #country-info hr {
  background-color: #1A557A;
  height: 5px;
  border: none;
  border-radius: 5px;
  margin: 9px 0;
}
#wrapper #country-info #title {
  margin-bottom: 30px;
}
#wrapper #country-info #title h1 {
  font-size: 56px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #F8F8F8;
  text-shadow: 6px 4px #1A557A;
  word-break: break-all;
}
#wrapper #country-info #title a {
  text-decoration: none;
  color: #1A557A;
  font-size: 28px;
  font-weight: 400;
}
#wrapper #country-info ul {
  font-size: 22px;
  list-style: none;
}
#wrapper #country-info ul li {
  padding: 5px 4px;
}
#wrapper #country-info ul li #admin-div {
  list-style-type: disc;
  margin: 5px 0 0 35px;
}

#country-info #about #about-title {
  text-align: center;
}
#country-info #about #about-title h1 {
  font: 50px "Poppins";
  color: #F8F8F8;
  text-shadow: 6px 4px #1A557A;
  font-weight: 700;
}
#country-info #about #about-text {
  margin: 16px 0;
  font: 22px "Poppins";
}

#wrapper {
  width: 100vw;
}

#animate-in {
  position: fixed;
  animation: 1s loadIn;
  animation-fill-mode: forwards;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

@keyframes loadIn {
  0% {
    background-color: #1a557a;
  }
  15% {
    background-color: #1a557a;
  }
  99% {
    background-color: rgba(26, 85, 122, 0);
  }
  100% {
    background-color: rgba(26, 85, 122, 0);
    visibility: hidden;
  }
}
#static-bg {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: fixed;
  background: url("../assets/campsite.png") no-repeat center center/cover;
}

@media (max-width: 799px) {
  #wrapper #country-info {
    margin: 80px 20px;
  }
}

/*# sourceMappingURL=index.css.map */
