// Countries Styling

#wrapper
{
  position: absolute;

  #countries-intro
  {
    font: 24px "Poppins";
    text-align: center;
    margin: 100px 0 120px 0;
    background-color: $lighter-blue-color;
    padding: 40px 20px;
    box-shadow:
      0px 0px 30px black,
      inset 0 0 60px $main-blue-color;
  }

  #country-names
  {
    ul
    {
      display: grid; list-style: none;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      max-width: 1140px; width: 100%;
      margin: 30px auto 50px auto;

      li
      {
        padding: 10px 14px; margin: 10px 10px;
        background-color: $lighter-blue-color;
        border: 2px solid $main-blue-color;
        text-shadow: 3px 2px $main-blue-color;
        border-radius: 12px;
        text-align: center;
        box-shadow:
          0px 0px 7px #191919,
          inset 0 0 14px $main-blue-color;
        transition:
          .15s background,
          .6s border-radius,
          .5s box-shadow,
          .6s filter;

        p
        {
          font: 22px "Poppins";
          color: $main-white-color;
          font-weight: 700
        }
      }

      li:hover
      {
        background-color: $lighter-blue-color;
        cursor: pointer; border-radius: 40px;
        filter: brightness(1.15);
        box-shadow:
          0px 0px 20px black,
          inset 5px 5px 16px #B2C2C4;
      }
    }
  }
}
