// Title Styling

header
{
  color: $main-blue-color;

  nav
  {
    text-align: center;

    ul
    {
      font: 22px "Poppins";
      list-style: none;
      font-weight: 700;
      display: inline-flex;
      margin: 20px;

      li
      {
        padding: 10px 14px;
        margin: 10px 30px;
        transition: .2s color;
      }

      li:hover
      { color: $main-orange-color; cursor: pointer; }
    }
  }

  @media(max-width: 599px)
  {
    color: black;

    nav
    {
      padding-top: 10px;

      ul
      {
        display: inline-block;
        li { width: 160px; }
      }
    }
  }

  h1
  {
    font: 58px "Poppins";
    font-weight: 700;
    padding: 30px 0 0px 0;
    text-align: center;
  }

  h2
  {
    font: 34px "Poppins";
    margin-bottom: 45px;
    text-align: center;
  }
}

#button
{
  position: absolute;
  // Font & colors
  font: 21px "Poppins";
  letter-spacing: 1px;
  color: $main-white-color;
  font-weight: 700;
  background-color: $lighter-blue-color;
  box-shadow: 4px 4px $main-blue-color;
  // Positioning & size
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  text-align: center;
  margin-top: 20px;
  padding: 16px 28px;
  // Animation
  transition:
    .3s background,
    .3s transform,
    .3s box-shadow;
}

#button:hover
{
  background-color: $main-orange-color;
  box-shadow: 4px 4px #9E653C;
  cursor: pointer;
}
