// Title Styling

header
{
  color: $main-blue-color;

  nav
  {
    text-align: center;

    ul
    {
      font: 22px "Poppins";
      list-style: none;
      font-weight: 700;
      display: inline-flex;
      margin: 20px;

      li
      {
        padding: 10px 14px;
        margin: 10px 30px;
        border-radius: 30px;
        transition: .4s background, .25s color;
      }

      li:hover
      {
        background-color: $main-orange-color;
        color: $main-white-color; cursor: pointer;
      }
    }
  }

  @media(max-width: 599px)
  {
    color: black;

    nav
    {
      padding-top: 10px;

      ul
      {
        display: inline-block;
        li { width: 160px; }
      }
    }
  }

  h1
  {
    font: 58px "Poppins";
    font-weight: 700;
    padding: 30px 0 5px 0;
    text-align: center;
  }

  h2
  {
    font: 36px "Poppins";
    margin-bottom: 40px;
    text-align: center;
  }
}

#button
{
  position: absolute;
  // Font & colors
  font: 23px "Poppins";
  color: $main-white-color;
  font-weight: 700;
  background-color: $lighter-blue-color;
  // Positioning & size
  width: 180px; left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  text-align: center;
  margin-top: 20px;
  padding: 14px 18px;
  // Animation
  transition: .3s background;
}

#button:hover
{ background-color: $main-orange-color; cursor: pointer; }
